<!DOCTYPE HTML>
<html>
<head>
<title>Home</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Quality Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href="/static/css/bootstrap.css" rel='stylesheet' type='text/css' />
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="/static/js/jquery-1.11.1.min.js"></script>
<!-- Custom Theme files -->
<link href="/static/css/style.css" rel='stylesheet' type='text/css' />
<!-- Custom Theme files -->
<!--webfont-->
<link href='https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700' rel='stylesheet' type='text/css'>
<!----font-Awesome----->
<link href="/static/css/font-awesome.css" rel="stylesheet">
<!----font-Awesome----->
<!--Animation-->
<script src="/static/js/wow.min.js"></script>
<link href="/static/css/animate.css" rel='stylesheet' type='text/css' />
<script>
	new WOW().init();
</script>
</head>
<body>
<div class="header wow fadeInUpBig" data-wow-delay="0.4s">
   <div class="container">
	  <div class="header_top">
		<h1>welcome to visit Gooker:)</h1>
		<h2>this pages is aimed to analyze the user emotion when they surf the news</h2>
	  </div>
   </div>
 </div>
  <div class="header-home">
	<div class="fixed-header">
		<div class="logo">
			<a href="/index">
	          <span class="secondary">Emotional</span>
	          <span class="main">analysis</span>
	        </a>
		</div>
				<div class="top-nav">
				    <span class="menu"> </span>
					<ul>
						<li class="active"><a href="/index">Home</a></li>
						<li><a href="/alluser">All users</a></li>
					  	<li><a href="/singleuser">Single users</a></li>

					  	<li><a href="/comments">Comments</a></li>
					  	<li><a href="/score">score</a></li>
					</ul>
				<!-- script-nav -->
			<script>
			$("span.menu").click(function(){
				$(".top-nav ul").slideToggle(500, function(){
				});
			});
			</script>
			<!-- //script-nav -->
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
        <!--script-->
		<script>
			$(document).ready(function(){
				$(".top-nav li a").click(function(){
					$(this).parent().addClass("active");
					$(this).parent().siblings().removeClass("active");
				});
			});
		</script>
			<!-- script-for sticky-nav -->
		<script>
		$(document).ready(function() {
			 var navoffeset=$(".header-home").offset().top;
			 $(window).scroll(function(){
				var scrollpos=$(window).scrollTop(); 
				if(scrollpos >=navoffeset){
					$(".header-home").addClass("fixed");
				}else{
					$(".header-home").removeClass("fixed");
				}
			 });
			 
		});
		</script>
		<!-- /script-for sticky-nav -->
	<!--//header-->
  	<div class="grid_1">
		<div class="container">
			<div class="span12 hexagon_box">
				<section class="effect-1">
					<ul>
					<li class="wow bounce" data-wow-delay="0.4s"> <a href="/singleuserl">
						<div class="service-box hexagon">
						  <figure class="icon"><img src="/static/images/icon_1.png" alt=""/></figure>
						  <div class="service-box_body">
							<div class="btn-align"><a href="#"  class="btn btn-inverse btn-normal btn-primary " target="_self">Singer users</a></div>
						  </div>
						</div> 
					</li>
					<li class=" wow fadeInRight" data-wow-delay="0.4s"><a href="/alluser"><div class="service-box hexagon">
						<figure class="icon"><img src="/static/images/icon_2.png" alt=""/></figure>
						<div class="service-box_body">
							<div class="btn-align"><a href="#" class="btn btn-inverse btn-normal btn-primary " target="_self">All users</a></div>
						</div>
						</div> 
					</li>
					<li class="wow fadeInUp" data-wow-delay="0.4s"><a href="/comments">
						<div class="service-box hexagon">
							<figure class="icon"><img src="/static/images/icon_3.png" alt=""/></figure>
							<div class="service-box_body">
								<div class="btn-align"><a href="#" class="btn btn-inverse btn-normal btn-primary " target="_self">Comments</a></div>
							</div>
						</div> 
					</li>
					</ul>
                </section>
				<section class="lazy-load-box  effect-slidefromright">
					<ul>
					<li class="wow fadeInRight" data-wow-delay="0.4s"><a href="/score">
						<div class="service-box hexagon">
							<figure class="icon"><img src="/static/images/icon_4.png" alt=""/></figure>
							<div class="service-box_body">
								<div class="btn-align"><a href="#" class="btn btn-inverse btn-normal btn-primary " target="_self">score</a></div>
							</div>
						</div>
					</li>
					<li class="wow bounceInDown" data-wow-delay="0.4s"><a href="/about">
						<div class="service-box hexagon">
							<figure class="icon"><img src="/static/images/icon_5.png" alt=""/></figure>
							<div class="service-box_body">
								<div class="btn-align"><a href="#" class="btn btn-inverse btn-normal btn-primary " target="_self">Our team</a></div>
							</div>
						</div>
					</li>
					</ul>
				</section>
		     </div>
		</div>
	</div>
    <div class="copyrights">Collect from <a href="http://www.cssmoban.com/" >企业网站模板</a></div>

    <div class="team">
		<div class="container">
			<h3 class="head_2 wow rollIn" data-wow-delay="0.4s">Welcome to our team</h3>
			<div class="img-wrapper wow slideInLeft" data-wow-delay="0.4s">
              <a href="#"><img src="/static/images/pic6.jpg" class="img-responsive" alt=""/></a>
              <a href="#"><img src="/static/images/pic7.jpg" class="img-responsive" alt=""/></a>
              <a href="#"><img src="/static/images/pic4.jpg" class="img-responsive" alt=""/></a>
            </div>
            <blockquote class="blockquote1">
              <div class="block_info wow slideInRight" data-wow-delay="0.4s">
                <span class="heading">The campus of Yanqi,University of Chinese Acadamic of Sciences
              </div>
              <span class="author wow bounce" data-wow-delay="0.4s"><a href="#">Cooker</a></span>
            </blockquote>
		</div>
	</div>

	<div class="copy">
	  <p>Copyright &copy; 2017.Gooker All rights reserved.More Information <a href="http://www.gucas.ac.cn/" target="_blank" title="UCAS">UCAS</a> </p>
    </div>
</body>
</html>		