<!DOCTYPE HTML>
<html>
<head>
<title>OUR TEAM :)</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Quality Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href="../static/css/bootstrap.css" rel='stylesheet' type='text/css' />
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="../static/js/jquery-1.11.1.min.js"></script>
<!-- Custom Theme files -->
<link href="../static/css/style.css" rel='stylesheet' type='text/css' />
<!-- Custom Theme files -->
<!--webfont-->
<link href='https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700' rel='stylesheet' type='text/css'>
<!----font-Awesome----->
<link href="../static/css/font-awesome.css" rel="stylesheet"> 
<!----font-Awesome----->
</head>
<body>
<div class="header_about"> </div>
   <div class="header-home">
	<div class="fixed-header">
		<div class="logo">
			<a href="index.html">
	          <span class="secondary">Emotional</span>
	          <span class="main">analysis</span>
	        </a>
		</div>
				<div class="top-nav">
				    <span class="menu"> </span>
					<ul>
						<li><a href="index.html">Home</a></li>
					  	<li><a href="singer_user.html">Single user</a></li>
					  	<li><a href="All_users1.html">All users</a></li>
					  	<li><a href="comments.html">Comments</a></li>
					  	<li><a href="score.html">score</a></li>		
					</ul>
				<!-- script-nav -->
			<script>
			$("span.menu").click(function(){
				$(".top-nav ul").slideToggle(500, function(){
				});
			});
			</script>
			<!-- //script-nav -->
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
        <!--script-->
		<script>
			$(document).ready(function(){
				$(".top-nav li a").click(function(){
					$(this).parent().addClass("active");
					$(this).parent().siblings().removeClass("active");
				});
			});
		</script>
			<!-- script-for sticky-nav -->
		<script>
		$(document).ready(function() {
			 var navoffeset=$(".header-home").offset().top;
			 $(window).scroll(function(){
				var scrollpos=$(window).scrollTop(); 
				if(scrollpos >=navoffeset){
					$(".header-home").addClass("fixed");
				}else{
					$(".header-home").removeClass("fixed");
				}
			 });
			 
		});
		</script>
		<!-- /script-for sticky-nav -->
	<!--//header-->
   <div class="grid_4">
		<div class="container"> 
			<h1 class="blog_head">OUR TEAM :)</h1>
		   <div class="blog_grid span2">
		     <div class="col-md-6 blog_box">
		        <a href="single.html" class="mask"><img src="/static/images/b1.jpg" alt="image" class="img-responsive zoom-img" alt=""/></a>
		     	<h3><a href="single.html">Yuan Gao</a></h3>
		     	<div class="links">
		  		    <ul>
		  				<li><i class="fa blog-icon fa-calendar"> </i><span>Mar 12, 2017</span></li>
		  				<li><i class="fa blog-icon fa-user"> </i><span>admin</span></li>
		  				<li><i class="fa blog-icon fa-comment"> </i><a href="#"><span>No comments</span></a></li>
		  		    </ul>
		  		</div>
		     	<p>Yuan Gao ------- University of Chinese Academy of Sciences(UCAS) & Institute of Computer Technology</p>
		        <a href="#" class="btn1 btn-8 btn-8c">Girl Hackathon~</a>
		     </div>  
		     <div class="col-md-6 blog_box">
		        <a href="single.html" class="mask"><img src="/static/images/b2.jpg" alt="image" class="img-responsive zoom-img" alt=""/></a>
		     	<h3><a href="single.html">Yao Tan</a></h3>
		     	<div class="links">
		  		    <ul>
		  				<li><i class="fa blog-icon fa-calendar"> </i><span>Mar 12, 2017</span></li>
		  				<li><i class="fa blog-icon fa-user"> </i><span>admin</span></li>
		  				<li><i class="fa blog-icon fa-comment"> </i><a href="#"><span>No comments</span></a></li>
		  		    </ul>
		  		</div>
		     	<p>Yao Tan------- University of Chinese Academy of Sciences(UCAS) & Institute of Computer Technology</p>
		        <a href="#" class="btn1 btn-8 btn-8c">Girl Hackathon~</a>
		     </div>  
		     <div class="clearfix"> </div>
		   </div>
	      <div class="blog_grid">
		     <div class="col-md-6 blog_box">
		        <a href="single.html" class="mask"><img src="/static/images/b3.jpg" alt="image" class="img-responsive zoom-img" alt=""/></a>
		     	<h3><a href="single.html">Mingwei Tang</a></h3>
		     	<div class="links">
		  		    <ul>
		  				<li><i class="fa blog-icon fa-calendar"> </i><span>Mar 12, 2017</span></li>
		  				<li><i class="fa blog-icon fa-user"> </i><span>admin</span></li>
		  				<li><i class="fa blog-icon fa-comment"> </i><a href="#"><span>No comments</span></a></li>
		  		    </ul>
		  		</div>
		     	<p>Mingwei Tang------- University of Chinese Academy of Sciences(UCAS) & Institute of Computer Technology</p>
		        <a href="#" class="btn1 btn-8 btn-8c">Girl Hackathon~</a>
		     </div>  
	         <div class="col-md-6 blog_box"> <a href="single.html" class="mask"><img src="/static/images/b4.jpg" alt="image" class="img-responsive zoom-img"/></a>
                 <h3><a href="single.html">Xinyue  Zhen</a></h3>
	           <div class="links">
                   <ul>
                     <li><i class="fa blog-icon fa-calendar"> </i><span>Mar 12, 2017</span></li>
                     <li><i class="fa blog-icon fa-user"> </i><span>admin</span></li>
                     <li><i class="fa blog-icon fa-comment"> </i><a href="#"><span>No comments</span></a></li>
                   </ul>
               </div>
	           <p>Xinyue  Zheng-------------- University of Chinese Academy of Sciences(UCAS) &   National Space Science Center</p>
	           <a href="#" class="btn1 btn-8 btn-8c">Girl Hackathon~</a> <a href="#" class="btn1 btn-8c"></a></div>
			   
			   <div class="col-md-6 blog_box"> <a href="single.html" class="mask"><img src="/static/images/b0.jpg" alt="image" class="img-responsive zoom-img"/></a>
                 <h3><a href="single.html">Jingyi  Li</a></h3>
	           <div class="links">
                   <ul>
                     <li><i class="fa blog-icon fa-calendar"> </i><span>Mar 12, 2017</span></li>
                     <li><i class="fa blog-icon fa-user"> </i><span>admin</span></li>
                     <li><i class="fa blog-icon fa-comment"> </i><a href="#"><span>No comments</span></a></li>
                   </ul>
               </div>
	           <p>Jingyi  Li------- University of Chinese Academy of Sciences(UCAS)</p>
	           <a href="#" class="btn1 btn-8 btn-8c">Girl Hackathon~</a> </div>
			   
			   <div class="col-md-6 blog_box"> <a href="single.html" class="mask"><img src="/static/images/b00.jpg" alt="image" class="img-responsive zoom-img"/></a>
                 <h3><a href="single.html">Gooker Family</a></h3>
	           <div class="links">
                   <ul>
                     <li><i class="fa blog-icon fa-calendar"> </i><span>Mar 12, 2017</span></li>
                     <li><i class="fa blog-icon fa-user"> </i><span>admin</span></li>
                     <li><i class="fa blog-icon fa-comment"> </i><a href="#"><span>No comments</span></a></li>
                   </ul>
               </div>
	           <p>   We are happy family :)</p>
	           <a href="#" class="btn1 btn-8 btn-8c">Girl Hackathon~</a> </div>
			   
	      </div>
		   <!-- 
		   <div class="pagination">
		    <ul><li class="pagination-start firstItem"><span class="pagenav">Start</span></li>
		    	<li class="pagination-prev"><span class="pagenav">Prev</span></li><li>
		    	<span class="pagenav">1</span></li><li><a href="#" class="pagenav">2</a></li>
		    	<li class="pagination-next"><a title="" href="#" class="border pagenav" data-original-title="Next">Next</a></li>
		    	<li class="pagination-end lastItem"><a title="" href="#" class="border pagenav" data-original-title="End">End</a></li>
		    </ul>	
		  </div>
		  -->
	   </div>
	</div>
	<div class="copy">
	  <p>Copyright &copy; 2017.Gooker All rights reserved.More Information <a href="http://www.gucas.ac.cn/" target="_blank" title="UCAS">UCAS</a> </p>
    </div>
</body>
</html>		